@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');

.body {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #484848;
}

.main {
    width: 100vw;
    height: 100vh;
    background-color: #3A4965;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    background: #FAFAFA;
    border-collapse: collapse;
}

.table td,
.table th {
    text-align: center;
}

.vertical-table {
    width: 1143px;
    height: 684px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
}

.horizontal-table {
    width: 1143px;
    height: 612px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
}

.vertical-table .line td:not(:first-child),
.vertical-table__prices,
.vertical-table__foot td:not(:first-child) {
    border-left: 1px solid #d7d7d7;
}

.vertical-table .criteria {
    width: 313px;
}

.standart {
    background: #89C331;
}

.ultimate {
    background: #F04A56;
}

.premium {
    background: #20807C;
}

.standart,
.ultimate,
.premium {
    font-weight: 700;
    color: #FFFFFF;
}


/*Table Heads */

.vertical-table__head {
    background: #FAFAFA;
}

.vertical-table__subtitle {
    font-weight: 700;
    font-size: 18px;
}

.horizontal-table__subtitle {
    font-weight: 700;
    font-size: 14px;
}

.vertical-table__title {
    font-weight: 700;
    font-size: 30px;
}

.horizontal-table__title {
    font-weight: 700;
    font-size: 20px;
}

.vertical-table__head .standart,
.vertical-table__head .premium {
    font-size: 24px;
    line-height: 1.17;
}

.vertical-table__head .ultimate {
    font-size: 30px;
}

.vertical-table__head .standart,
.vertical-table__head .ultimate,
.vertical-table__head .premium {
    height: 73px;
}

.vertical-table__prices__wrapper,
.horizontal-table__prices__wrapper {
    display: flex;
    justify-content: center;
}

.horizontal-table__prices__wrapper {
    align-items: center;
    margin-bottom: 15px;
}

.vertical-table__prices {
    height: 84px;
}

.vertical-table__price {
    font-size: 60px;
    padding-top: 5px;
}

.horizontal-table__price {
    font-weight: 700;
    font-size: 36px;
}

.vertical-table__price__sub {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.vertical-table__cent {
    font-size: 24px;
    line-height: 1.17;  
}

.horizontal-table__cent {
    font-size: 18px;
    padding-bottom: 20px;
    margin-right: 8px;
}

.vertical-table__period {
    font-size: 18px;
    font-weight: 400;
}

.horizontal-table__period {
    font-size: 14px;
}

.horizontal-table__head tr {
    height: 99px;
    border-bottom: 12px solid #3A4965;
}

/* Table Body */

.vertical-table .line td {
    height: 72px;
    width: 280px;
}

.vertical-table .line:nth-child(odd) td {
    background: #F2F2F2;
}

.vertical-table .line:nth-child(even) td {
    background: #E3E3E3;
}

.btn {
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Arimo';
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    position: relative;
}

.vertical-table .btn {
    width: 195px;
    height: 52px;
}

.horizontal-table .btn {
    width: 144px;
    height: 41px;
}

.btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    border-radius: 0px 0px 5px 5px;
}

.vertical-table .btn::after {
    width: 195px;
    height: 9px;
}

.horizontal-table .btn::after {
    width: 144px;
    height: 5px;
}

.gray__btn {
    background: #484848;
}

.gray__btn::after {
    background: #404040;
}

.green__btn {
    background: #89C331;;
}

.green__btn::after {
    background: #79B027;
}

.pink__btn {
    background: #F04A56;;
}

.pink__btn::after {
    background: #DF3A46;
}

.blue__btn {
    background: #20807C;
}

.blue__btn::after {
    background: #16736F;
}

.horizontal-table__sell__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.horizontal-table__sell__wrapper img {
    margin-bottom: 10px;
}

.horizontal-table td {
    width: 158px;
    height: 167px;
}

.horizontal-table .tarifs {
    width: 198px;
}

.horizontal-table__tarif-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
}

.horizontal-table__head tr th:nth-child(even),
.horizontal-table__body tr td:nth-child(even) {
    background: #E3E3E3;
}

.horizontal-table__with-borders td:not(:first-child) {
    border-top: 2px solid #d7d7d7;
    border-bottom: 2px solid #d7d7d7;
}

.horizontal-table__body td:not(:first-child) span {
    display: inline-block;
    width: 100%;
}














